@model LoopLeader.Domain.Entities.Content

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div class="info">
    <h2>@ViewBag.Title.</h2>
    <img src="/Images/MissgraciemissdaisyandI.jpg" id="aboutpic" width="250px" />

    @if (Model != null)
    {
        <h2>@Html.Raw(@Model.CurrentText)</h2>
    }
</div>