@model LoopLeader.Domain.Entities.Content

@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<div class="info">
    <h2>About the Loop Leader</h2>
    @if (Model != null)
    {
        <h2>@Html.Raw(@Model.CurrentText)</h2>
    }
</div>