@model LoopLeader.Domain.Entities.Content

@{
    ViewBag.Title = "Legal";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<h2>Legal</h2>

@if (Model != null)
{
    <h2>@Html.Raw(@Model.CurrentText)</h2>
}